<h1 class="title">Download your oCode data</h1>
<p class="subtitle">Your oCode data export has finished processing and is ready to download.</p>

<p><%= link_to "Download your data", export_download_url(@export) %></p>

<p class="footer">Need help? <%= mail_to "doddlehq@gmail.com", "Send us an email" %>.</p>
